
.p-0 {
  padding: 0 !important;
}

.br-0 {
  border-radius: 0 !important;
}

.card-heading {
  background: none !important;
}

.card-heading .title {
  text-align: left;
  color: #242E4D !important;
}

.form-row .name {
  color: #242E4D !important;
}

.navbar {
  height: 100%;
  background-color: #242E4D !important;
  opacity: 0.9;
  box-shadow: -9px 9px 20px 0px #242e4d73;
}

.card-5 {
  box-shadow: 0px 8px 20px 0px #242e4d73;
}

.card-body {
  background-color: #f5f4f4;
}

input {
  background: #fff !important;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  background: #fff !important;
}

.logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.logo img {
  margin-bottom: 5px;
}

.logo h5 {
  color: #fff;
  font-weight: bold;
}

.fa-download {
  font-size: 20px;
  float: right;
}
